version: "3.8"

services: 
  mqtt:
    build:
      context: ./mqtt
      dockerfile: Dockerfile
      args:
        - MQTT_USERNAME=${MQTT_USERNAME}
        - MQTT_PASSWORD=${MQTT_PASSWORD}
    # container_name: mqtt
    ports:
      - '1883:1883'
      - '9003:9003'
    volumes:
      # - /mosquitto/config
      - /mosquitto/data
      - /mosquitto/log
    restart: unless-stopped

  influxdb:
    build: ./influxdb
    # container_name: influxdb
    # ports:
    #   - '8086:8086'
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      # INFLUXDB_DB: ${INFLUXDB_DATABASE}
      - DEFAULT_DATABASE=${INFLUXDB_DATABASE}
      - INFLUXDB_DATA_INDEX_VERSION=tsi1
    restart: unless-stopped

  forwarder:
    build: ./mqtt-influxdb-forwarder
    # container_name: mqttforwarder
    environment:
      - MQTT_USERNAME=${MQTT_USERNAME}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
    depends_on:
      - mqtt
      - influxdb
    restart: unless-stopped

  grafana:
    build: ./grafana
    # container_name: grafana
    ports:
      - '3001:3000'
    volumes:
      - grafana_data:/var/lib/grafana
      # - ./grafana/provisioning/:/etc/grafana/provisioning/
    environment: 
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - INFLUXDB_DATABASE=${INFLUXDB_DATABASE}
    restart: unless-stopped

volumes:
  influxdb_data:
  grafana_data:
